<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <remove name="AdviceEntities" />
    <remove name="PeninsulaDb" />
    <remove name="ExchangeArchive" />
    <remove name="maintAdvice" />

    <add name="AdviceEntities" 
         connectionString="metadata=res://*/AdviceModel.csdl|res://*/AdviceModel.ssdl|res://*/AdviceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pbssqltest1;initial catalog=advice;persist security info=True;user id=intranetadmin;password=intadpas;MultipleActiveResultSets=True;&quot;" 
         providerName="System.Data.EntityClient" />
    <add name="PeninsulaDb" 
         connectionString="metadata=res://*/PeninsulaModel.csdl|res://*/PeninsulaModel.ssdl|res://*/PeninsulaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pbssqltest1;initial catalog=Peninsula;persist security info=True;user id=intranetadmin;password=intadpas;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    <add name="ExchangeArchive" 
         connectionString="Initial Catalog=ExchangeArchive;Data Source=PBSSQLTEST1;UID=intranetadmin;PWD=intadpas;Min Pool Size=2;Max Pool Size=60;Connect Timeout=2;" />
    <add name="maintAdvice" 
         connectionString="Data Source=localhost\sql2008r2;Initial Catalog=advice;UID=intranetadmin;PWD=intadpas;" />
  </connectionStrings>

</configuration>