<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScannedDocuments"
            connectionString="Data Source=pbssqltest1;Initial Catalog=ScannedDocuments;persist security info=True;user id=intranetadmin;password=intadpas;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />       
    </connectionStrings>
</configuration>